---
layout: default
---

{% assign links = (site.links | sort: 'title') %}
{% assign tabtags-string = "Alle" %}

{% for link in links %}
{% for tag in link.tags %}
{% if tabtags-string contains tag %}
{% else %}
{% assign tabtags-string = tabtags-string | append: "#" | append: tag %}
{% endif %}
{% endfor %}
{% endfor %}

{% assign tabtags = tabtags-string | split: "#" %}

<section class="section">
	<div class="container">

		<h1 class="title is-1">Links</h1>
		<h2 class="subtitle">Ein paar praktische Verweise rund um das Thema „Digitale Kommunikation“</h2>

	</div>

</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-one-quarter">
				<nav class="panel">
				  <p class="panel-heading">
				    Kategorien
				  </p>
					{% for navEle in tabtags %}
						<a class="panel-block" data-tab="{{navEle | slugify}}">
							<span class="panel-icon">
					      <i class="fa fa-book"></i>
					    </span>
					    {{navEle}}
					  </a>
					{% endfor %}
				</nav>
			</div>

			{% for navEle in tabtags %}
			<div class="links is-tab-content column  is-{{navEle | slugify}} is-alle">
				<div class="content">
					{% for link in links %}
						{% if link.tags contains navEle %}
							<h2 class="title is-3" id="{{ link.id }}">{{ link.titel }}</h2>
							<p>{{link.text}}<br><a href="{{link.src}}">{{link.src}}</a></p>
							<p style="color: #999999;">{{link.tags | array_to_sentence_string: ''}}</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</section>
